<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.AnimalMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.Animal">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="animal_type_id" jdbcType="INTEGER" property="animalTypeId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="house_id" jdbcType="INTEGER" property="houseId" />
    <result column="animal_sex" jdbcType="SMALLINT" property="animalSex" />
    <result column="animal_init_weight" jdbcType="DECIMAL" property="animalInitWeight" />
    <result column="house" jdbcType="VARCHAR" property="house" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="treatment" jdbcType="VARCHAR" property="treatment" />
    <result column="replicate" jdbcType="VARCHAR" property="replicate" />
    <result column="factor_a" jdbcType="VARCHAR" property="factorA" />
    <result column="factor_b" jdbcType="VARCHAR" property="factorB" />
    <result column="animal_birthday" jdbcType="TIMESTAMP" property="animalBirthday" />
    <result column="sequence" jdbcType="INTEGER" property="sequence" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="file_identifier" jdbcType="VARCHAR" property="fileIdentifier" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, animal_type_id, project_id, user_id, house_id, animal_sex, animal_init_weight,
    house, code, id_number, treatment, replicate, factor_a, factor_b, animal_birthday,
    sequence, version, file_identifier, create_time, modified_time
  </sql>

  <resultMap id="animalIdMap" type="com.kuo.artemis.server.entity.Animal">
    <result column="id" property="id" />
    <result column="id_number" property="idNumber" />
  </resultMap>

  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from animal
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByProjectId" parameterType="java.lang.Integer" resultType="Animal">
    select
    <include refid="Base_Column_List" />
    from animal
    where project_id = #{projectId}
    order by replicate, treatment
  </select>

  <delete id="deleteByProjectIdAndFileIdentifierAndVersion">
    delete from animal
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version}
  </delete>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from animal
    where id = #{id,jdbcType=VARCHAR}
  </delete>

  <select id="selectIdMap" resultType="Animal">
    select id_number, id from animal
    where id_number in
    (
    <foreach collection="list" item="item" index="index" separator=",">
      #{item}
    </foreach>
    )
    and project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version}
  </select>

  <!--<select id="selectAnimalGroupDetailList" resultType="Animal">
    select animal.id, animal.animal_sex, animal.animal_init_weight, animal.house, animal.id_number, animal.treatment, animal.replicate,
     animal_group_detail.suitable, animal_group_detail.old_pen, animal_group_detail.new_pen, animal_group_detail.weight_mean, animal_group_detail.coefficient_of_variation
    from animal_group_detail
    left join animal on animal.id = animal_group_detail.id
    where animal_group_detail.project_id = #{projectId}
    order by suitable desc, replicate, treatment
  </select>-->

  <select id="selectAnimalGroupDetailStatus" resultType="Integer">
    select count(*) from animal_group_detail
    where project_id = #{projectId}
  </select>

  <select id="selectAnimalGroupDetailList" resultType="Animal">
    select * from animal_group_detail
    where project_id = #{projectId}
    order by suitable desc, replicate, treatment
  </select>

  <delete id="deleteAnimalGroupDetailByProjectId">
    delete from animal_group_detail
    where project_id = #{projectId}
  </delete>

  <insert id="insertAnimalGroupDetailBatch" parameterType="List">
    <foreach collection="list" item="item" index="index" separator=";">
      insert into animal_group_detail
      <trim prefix="(" suffix=")" suffixOverrides=",">
        <if test="item.id != null">
          id,
        </if>
        <if test="item.projectId != null">
          project_id,
        </if>
        <if test="item.houseId != null">
          house_id,
        </if>
        <if test="item.animalSex != null">
          animal_sex,
        </if>
        <if test="item.initialBw != null">
          initial_bw,
        </if>
        <if test="item.house != null">
          house,
        </if>
        <if test="item.code != null">
          code,
        </if>
        <if test="item.idNumber != null">
          id_number,
        </if>
        <if test="item.treatment != null">
          treatment,
        </if>
        <if test="item.replicate != null">
          replicate,
        </if>
        <if test="item.suitable != null">
          suitable,
        </if>
        <if test="item.oldPen != null">
          old_pen,
        </if>
        <if test="item.newPen != null">
          new_pen,
        </if>
        <if test="item.weightMean != null">
          weight_mean,
        </if>
        <if test="item.coefficientOfVariation != null">
          coefficient_of_variation,
        </if>
        <if test="item.sequence != null">
          sequence,
        </if>
      </trim>
      values
      <trim prefix="(" suffix=")" suffixOverrides="," >

        <if test="item.id != null">
          #{item.id},
        </if>
        <if test="item.projectId != null">
          #{item.projectId},
        </if>
        <if test="item.houseId != null">
          #{item.houseId},
        </if>
        <if test="item.animalSex != null">
          #{item.animalSex},
        </if>
        <if test="item.initialBw != null">
          #{item.initialBw},
        </if>
        <if test="item.house != null">
          #{item.house},
        </if>
        <if test="item.code != null">
          #{item.code},
        </if>
        <if test="item.idNumber != null">
          #{item.idNumber},
        </if>
        <if test="item.treatment != null">
          #{item.treatment},
        </if>
        <if test="item.replicate != null">
          #{item.replicate},
        </if>
        <if test="item.suitable != null">
          #{item.suitable},
        </if>
        <if test="item.oldPen != null">
          #{item.oldPen},
        </if>
        <if test="item.newPen != null">
          #{item.newPen},
        </if>
        <if test="item.weightMean != null">
          #{item.weightMean},
        </if>
        <if test="item.coefficientOfVariation != null">
          #{item.coefficientOfVariation},
        </if>
        <if test="item.sequence != null">
          #{item.sequence},
        </if>

      </trim>
    </foreach>
  </insert>

  <update id="updateAnimalGroupDetailBatch" parameterType="List">
    <foreach collection="list" index="index" item="item" separator=";">
      update animal_group_detail
      <set>
        <if test="item.projectId != null">
          project_id = #{item.projectId},
        </if>
        <if test="item.houseId != null">
          house_id = #{item.houseId},
        </if>
        <if test="item.animalSex != null">
          animal_sex = #{item.animalSex},
        </if>
        <if test="item.initialBw != null">
          initial_bw = #{item.initialBw},
        </if>
        <if test="item.house != null">
          house = #{item.house},
        </if>
        <if test="item.code != null">
          code = #{item.code},
        </if>
        <if test="item.idNumber != null">
          id_number = #{item.idNumber},
        </if>
        <if test="item.treatment != null">
          treatment = #{item.treatment},
        </if>
        <if test="item.replicate != null">
          replicate = #{item.replicate},
        </if>
        <if test="item.suitable != null">
          suitable = #{item.suitable},
        </if>
        <if test="item.oldPen != null">
          old_pen = #{item.oldPen},
        </if>
        <if test="item.newPen != null">
          new_pen = #{item.newPen},
        </if>
        <if test="item.weightMean != null">
          weight_mean = #{item.weightMean},
        </if>
        <if test="item.coefficientOfVariation != null">
          coefficient_of_variation = #{item.coefficientOfVariation},
        </if>
      </set>
      where id_number = #{item.idNumber}
    </foreach>
  </update>




  <insert id="insertBatch" parameterType="List">
    <foreach collection="list" item="item" index="index" separator=";">
      insert into animal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="item.id != null">
        id,
      </if>
      <if test="item.animalTypeId != null">
        animal_type_id,
      </if>
      <if test="item.userId != null">
        user_id,
      </if>
      <if test="item.projectId != null">
        project_id,
      </if>
      <if test="item.houseId != null">
        house_id,
      </if>
      <if test="item.animalSex != null">
        animal_sex,
      </if>
      <if test="item.animalInitWeight != null">
        animal_init_weight,
      </if>
      <if test="item.house != null">
        house,
      </if>
      <if test="item.code != null">
        code,
      </if>
      <if test="item.idNumber != null">
        id_number,
      </if>
      <if test="item.treatment != null">
        treatment,
      </if>
      <if test="item.replicate != null">
        replicate,
      </if>
      <if test="item.factorA != null">
        factor_a,
      </if>
      <if test="item.factorB != null">
        factor_b,
      </if>
      <if test="item.animalBirthday != null">
        animal_birthday,
      </if>
      <if test="item.sequence != null">
        sequence,
      </if>
      <if test="item.version != null">
        version,
      </if>
      <if test="item.fileIdentifier != null">
        file_identifier,
      </if>
      <if test="item.createTime != null">
        create_time,
      </if>
      <if test="item.modifiedTime != null">
        modified_time,
      </if>
    </trim>
      values
    <trim prefix="(" suffix=")" suffixOverrides="," >
  
      <if test="item.id != null">
        #{item.id},
      </if>
      <if test="item.animalTypeId != null">
        #{item.animalTypeId},
      </if>
      <if test="item.userId != null">
        #{item.userId},
      </if>
      <if test="item.projectId != null">
        #{item.projectId},
      </if>
      <if test="item.houseId != null">
        #{item.houseId},
      </if>
      <if test="item.animalSex != null">
        #{item.animalSex},
      </if>
      <if test="item.animalInitWeight != null">
        #{item.animalInitWeight},
      </if>
      <if test="item.house != null">
        #{item.house},
      </if>
      <if test="item.code != null">
        #{item.code},
      </if>
      <if test="item.idNumber != null">
        #{item.idNumber},
      </if>
      <if test="item.treatment != null">
        #{item.treatment},
      </if>
      <if test="item.replicate != null">
        #{item.replicate},
      </if>
      <if test="item.factorA != null">
        #{item.factorA},
      </if>
      <if test="item.factorB != null">
        #{item.factorB},
      </if>
      <if test="item.animalBirthday != null">
        #{item.animalBirthday},
      </if>
      <if test="item.sequence != null">
        #{item.sequence},
      </if>
      <if test="item.version != null">
        #{item.version},
      </if>
      <if test="item.fileIdentifier != null">
        #{item.fileIdentifier},
      </if>
      <if test="item.createTime != null">
        #{item.createTime},
      </if>
      <if test="item.modifiedTime != null">
        #{item.modifiedTime}
      </if>
    
    </trim>
    </foreach>
  </insert>


  <insert id="insert" parameterType="com.kuo.artemis.server.entity.Animal">
    insert into animal (id, animal_type_id, project_id,
      user_id, house_id, animal_sex,
      animal_init_weight, house, code,
      id_number, treatment, replicate,
      factor_a, factor_b, animal_birthday,
      sequence, version, file_identifier,
      create_time, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{animalTypeId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER},
      #{userId,jdbcType=INTEGER}, #{houseId,jdbcType=INTEGER}, #{animalSex,jdbcType=SMALLINT},
      #{animalInitWeight,jdbcType=DECIMAL}, #{house,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR},
      #{idNumber,jdbcType=VARCHAR}, #{treatment,jdbcType=VARCHAR}, #{replicate,jdbcType=VARCHAR},
      #{factorA,jdbcType=VARCHAR}, #{factorB,jdbcType=VARCHAR}, #{animalBirthday,jdbcType=TIMESTAMP},
      #{sequence,jdbcType=INTEGER}, #{version,jdbcType=INTEGER}, #{fileIdentifier,jdbcType=VARCHAR},
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.Animal">
    insert into animal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="animalTypeId != null">
        animal_type_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="houseId != null">
        house_id,
      </if>
      <if test="animalSex != null">
        animal_sex,
      </if>
      <if test="animalInitWeight != null">
        animal_init_weight,
      </if>
      <if test="house != null">
        house,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="treatment != null">
        treatment,
      </if>
      <if test="replicate != null">
        replicate,
      </if>
      <if test="factorA != null">
        factor_a,
      </if>
      <if test="factorB != null">
        factor_b,
      </if>
      <if test="animalBirthday != null">
        animal_birthday,
      </if>
      <if test="sequence != null">
        sequence,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="fileIdentifier != null">
        file_identifier,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="animalTypeId != null">
        #{animalTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        #{houseId,jdbcType=INTEGER},
      </if>
      <if test="animalSex != null">
        #{animalSex,jdbcType=SMALLINT},
      </if>
      <if test="animalInitWeight != null">
        #{animalInitWeight,jdbcType=DECIMAL},
      </if>
      <if test="house != null">
        #{house,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="treatment != null">
        #{treatment,jdbcType=VARCHAR},
      </if>
      <if test="replicate != null">
        #{replicate,jdbcType=VARCHAR},
      </if>
      <if test="factorA != null">
        #{factorA,jdbcType=VARCHAR},
      </if>
      <if test="factorB != null">
        #{factorB,jdbcType=VARCHAR},
      </if>
      <if test="animalBirthday != null">
        #{animalBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sequence != null">
        #{sequence,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        #{version,jdbcType=INTEGER},
      </if>
      <if test="fileIdentifier != null">
        #{fileIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.Animal">
    update animal
    <set>
      <if test="animalTypeId != null">
        animal_type_id = #{animalTypeId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="houseId != null">
        house_id = #{houseId,jdbcType=INTEGER},
      </if>
      <if test="animalSex != null">
        animal_sex = #{animalSex,jdbcType=SMALLINT},
      </if>
      <if test="animalInitWeight != null">
        animal_init_weight = #{animalInitWeight,jdbcType=DECIMAL},
      </if>
      <if test="house != null">
        house = #{house,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="treatment != null">
        treatment = #{treatment,jdbcType=VARCHAR},
      </if>
      <if test="replicate != null">
        replicate = #{replicate,jdbcType=VARCHAR},
      </if>
      <if test="factorA != null">
        factor_a = #{factorA,jdbcType=VARCHAR},
      </if>
      <if test="factorB != null">
        factor_b = #{factorB,jdbcType=VARCHAR},
      </if>
      <if test="animalBirthday != null">
        animal_birthday = #{animalBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="sequence != null">
        sequence = #{sequence,jdbcType=INTEGER},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=INTEGER},
      </if>
      <if test="fileIdentifier != null">
        file_identifier = #{fileIdentifier,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.Animal">
    update animal
    set animal_type_id = #{animalTypeId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      house_id = #{houseId,jdbcType=INTEGER},
      animal_sex = #{animalSex,jdbcType=SMALLINT},
      animal_init_weight = #{animalInitWeight,jdbcType=DECIMAL},
      house = #{house,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      treatment = #{treatment,jdbcType=VARCHAR},
      replicate = #{replicate,jdbcType=VARCHAR},
      factor_a = #{factorA,jdbcType=VARCHAR},
      factor_b = #{factorB,jdbcType=VARCHAR},
      animal_birthday = #{animalBirthday,jdbcType=TIMESTAMP},
      sequence = #{sequence,jdbcType=INTEGER},
      version = #{version,jdbcType=INTEGER},
      file_identifier = #{fileIdentifier,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateBatch" parameterType="List">
    <foreach collection="list" index="index" item="item" separator=";">
    update animal
    <set>
      <if test="item.animalTypeId != null">
        animal_type_id = #{item.animalTypeId},
      </if>
      <if test="item.userId != null">
        user_id = #{item.userId},
      </if>
      <if test="item.projectId != null">
        project_id = #{item.projectId},
      </if>
      <if test="item.houseId != null">
        house_id = #{item.houseId},
      </if>
      <if test="item.animalSex != null">
        animal_sex = #{item.animalSex},
      </if>
      <if test="item.animalInitWeight != null">
        animal_init_weight = #{item.animalInitWeight},
      </if>
      <if test="item.house != null">
        house = #{item.house},
      </if>
      <if test="item.code != null">
        code = #{item.code},
      </if>
      <if test="item.idNumber != null">
        id_number = #{item.idNumber},
      </if>
      <if test="item.treatment != null">
        treatment = #{item.treatment},
      </if>
      <if test="item.replicate != null">
        replicate = #{item.replicate},
      </if>
      <if test="item.factorA != null">
        factor_a = #{item.factorA},
      </if>
      <if test="item.factorB != null">
        factor_b = #{item.factorB},
      </if>
      <if test="item.animalBirthday != null">
        animal_birthday = #{item.animalBirthday},
      </if>
      <if test="item.version != null">
        version = #{item.version},
      </if>
      <if test="item.fileIdentifier != null">
        file_identifier = #{item.fileIdentifier},
      </if>
      <if test="item.createTime != null">
        create_time = #{item.createTime},
      </if>
      <if test="item.modifiedTime != null">
        modified_time = #{item.modifiedTime},
      </if>
    </set>
    where id = #{item.id}
    </foreach>
  </update>
</mapper>