<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.AnimalMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.Animal">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="animal_type_id" jdbcType="INTEGER" property="animalTypeId" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="animal_sex" jdbcType="SMALLINT" property="animalSex" />
    <result column="animal_init_weight" jdbcType="DECIMAL" property="animalInitWeight" />
    <result column="house" jdbcType="VARCHAR" property="house" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="id_number" jdbcType="VARCHAR" property="idNumber" />
    <result column="treatmentNum" jdbcType="VARCHAR" property="treatmentNum" />
    <result column="replicate" jdbcType="VARCHAR" property="replicate" />
    <result column="animal_birthday" jdbcType="TIMESTAMP" property="animalBirthday" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, animal_type_id, user_id, project_id, animal_sex, animal_init_weight, house, code, 
    id_number, treatmentNum, replicate, animal_birthday, create_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from animal
    where id = #{id,jdbcType=VARCHAR}
  </select>

  <select id="selectByProjectId" parameterType="java.lang.String" resultMap="Animal">
    select
    <include refid="Base_Column_List" />
    from animal
    where project_id = #{projectId}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from animal
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insertBatch" parameterType="List">
    <foreach collection="list" item="item" index="index" separator=";">
      insert into animal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="item.id != null">
        id,
      </if>
      <if test="item.animalTypeId != null">
        animal_type_id,
      </if>
      <if test="item.userId != null">
        user_id,
      </if>
      <if test="item.projectId != null">
        project_id,
      </if>
      <if test="item.animalSex != null">
        animal_sex,
      </if>
      <if test="item.animalInitWeight != null">
        animal_init_weight,
      </if>
      <if test="item.code != null">
        code,
      </if>
      <if test="item.idNumber != null">
        id_number,
      </if>
      <if test="item.treatmentNum != null">
        treatmentNum,
      </if>
      <if test="item.replicate != null">
        replicate,
      </if>
      <if test="item.animalBirthday != null">
        animal_birthday,
      </if>
      <if test="item.createTime != null">
        create_time,
      </if>
      <if test="item.modifiedTime != null">
        modified_time,
      </if>
    </trim>
      values
    <trim prefix="(" suffix=")" suffixOverrides="," >
  
      <if test="item.id != null">
        #{item.id},
      </if>
      <if test="item.animalTypeId != null">
        #{item.animalTypeId},
      </if>
      <if test="item.userId != null">
        #{item.userId},
      </if>
      <if test="item.projectId != null">
        #{item.projectId},
      </if>
      <if test="item.animalSex != null">
        #{item.animalSex},
      </if>
      <if test="item.animalInitWeight != null">
        #{item.animalInitWeight},
      </if>
      <if test="item.code != null">
        #{item.code},
      </if>
      <if test="item.idNumber != null">
        #{item.idNumber},
      </if>
      <if test="item.treatmentNum != null">
        #{item.treatmentNum},
      </if>
      <if test="item.replicate != null">
        #{item.replicate},
      </if>
      <if test="item.animalBirthday != null">
        #{item.animalBirthday},
      </if>
      <if test="item.createTime != null">
        #{item.createTime},
      </if>
      <if test="item.modifiedTime != null">
        #{item.modifiedTime}
      </if>
    
    </trim>
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.kuo.artemis.server.entity.Animal">
    insert into animal (id, animal_type_id, user_id, 
      project_id, animal_sex, animal_init_weight, 
      house, code, id_number, 
      treatmentNum, replicate, animal_birthday,
      create_time, modified_time)
    values (#{id,jdbcType=VARCHAR}, #{animalTypeId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{projectId,jdbcType=INTEGER}, #{animalSex,jdbcType=SMALLINT}, #{animalInitWeight,jdbcType=DECIMAL}, 
      #{house,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{idNumber,jdbcType=VARCHAR}, 
      #{treatmentNum,jdbcType=VARCHAR}, #{replicate,jdbcType=VARCHAR}, #{animalBirthday,jdbcType=TIMESTAMP},
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.Animal">
    insert into animal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="animalTypeId != null">
        animal_type_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="animalSex != null">
        animal_sex,
      </if>
      <if test="animalInitWeight != null">
        animal_init_weight,
      </if>
      <if test="house != null">
        house,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="idNumber != null">
        id_number,
      </if>
      <if test="treatmentNum != null">
        treatmentNum,
      </if>
      <if test="replicate != null">
        replicate,
      </if>
      <if test="animalBirthday != null">
        animal_birthday,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="animalTypeId != null">
        #{animalTypeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="animalSex != null">
        #{animalSex,jdbcType=SMALLINT},
      </if>
      <if test="animalInitWeight != null">
        #{animalInitWeight,jdbcType=DECIMAL},
      </if>
      <if test="house != null">
        #{house,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="treatmentNum != null">
        #{treatmentNum,jdbcType=VARCHAR},
      </if>
      <if test="replicate != null">
        #{replicate,jdbcType=VARCHAR},
      </if>
      <if test="animalBirthday != null">
        #{animalBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.Animal">
    update animal
    <set>
      <if test="animalTypeId != null">
        animal_type_id = #{animalTypeId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="animalSex != null">
        animal_sex = #{animalSex,jdbcType=SMALLINT},
      </if>
      <if test="animalInitWeight != null">
        animal_init_weight = #{animalInitWeight,jdbcType=DECIMAL},
      </if>
      <if test="house != null">
        house = #{house,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null">
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="treatmentNum != null">
        treatmentNum = #{treatmentNum,jdbcType=VARCHAR},
      </if>
      <if test="replicate != null">
        replicate = #{replicate,jdbcType=VARCHAR},
      </if>
      <if test="animalBirthday != null">
        animal_birthday = #{animalBirthday,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.Animal">
    update animal
    set animal_type_id = #{animalTypeId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      project_id = #{projectId,jdbcType=INTEGER},
      animal_sex = #{animalSex,jdbcType=SMALLINT},
      animal_init_weight = #{animalInitWeight,jdbcType=DECIMAL},
      house = #{house,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      treatmentNum = #{treatmentNum,jdbcType=VARCHAR},
      replicate = #{replicate,jdbcType=VARCHAR},
      animal_birthday = #{animalBirthday,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <update id="updateBatch" parameterType="List">
    <foreach collection="list" index="index" item="item" separator=";">
    update animal
    <set>
      <if test="item.animalTypeId != null">
        animal_type_id = #{item.animalTypeId},
      </if>
      <if test="item.userId != null">
        user_id = #{item.userId},
      </if>
      <if test="item.projectId != null">
        project_id = #{item.projectId},
      </if>
      <if test="item.animalSex != null">
        animal_sex = #{item.animalSex},
      </if>
      <if test="item.animalInitWeight != null">
        animal_init_weight = #{item.animalInitWeight},
      </if>
      <if test="item.house != null">
        house = #{item.house},
      </if>
      <if test="item.code != null">
        code = #{item.code},
      </if>
      <if test="item.idNumber != null">
        id_number = #{item.idNumber},
      </if>
      <if test="item.treatmentNum != null">
        treatmentNum = #{item.treatmentNum},
      </if>
      <if test="item.replicate != null">
        replicate = #{item.replicate},
      </if>
      <if test="item.animalBirthday != null">
        animal_birthday = #{item.animalBirthday},
      </if>
      <if test="item.createTime != null">
        create_time = #{item.createTime},
      </if>
      <if test="item.modifiedTime != null">
        modified_time = #{item.modifiedTime},
      </if>
    </set>
    where id = #{item.id}
    </foreach>
  </update>
</mapper>