<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.AnimalIndicatorMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.AnimalIndicator">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="indicator_name" jdbcType="VARCHAR" property="indicatorName" />
    <result column="indicator_name_english" jdbcType="VARCHAR" property="indicatorNameEnglish" />
    <result column="indicator_type" jdbcType="BIT" property="indicatorType" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, indicator_name, indicator_name_english, indicator_type, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from animal_indicator
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByFields" parameterType="List" resultType="AnimalIndicator">
    select id, indicator_name, indicator_name_english, indicator_type
    from animal_indicator
    where indicator_name_english in
    (
    <foreach collection="list" item="item" index="index" separator=",">
      #{item}
    </foreach>
    )
  </select>

  <select id="selectByPrimaryKeys" parameterType="List" resultType="AnimalIndicator">
    select id, indicator_name, indicator_name_english, indicator_type
    from animal_indicator
    where id in
    (
    <foreach collection="list" item="item" index="index" separator=",">
      #{item}
    </foreach>
    )
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from animal_indicator
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kuo.artemis.server.entity.AnimalIndicator">
    insert into animal_indicator (id, indicator_name, indicator_name_english, 
      indicator_type, create_time)
    values (#{id,jdbcType=INTEGER}, #{indicatorName,jdbcType=VARCHAR}, #{indicatorNameEnglish,jdbcType=VARCHAR}, 
      #{indicatorType,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.AnimalIndicator">
    insert into animal_indicator
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="indicatorName != null">
        indicator_name,
      </if>
      <if test="indicatorNameEnglish != null">
        indicator_name_english,
      </if>
      <if test="indicatorType != null">
        indicator_type,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="indicatorName != null">
        #{indicatorName,jdbcType=VARCHAR},
      </if>
      <if test="indicatorNameEnglish != null">
        #{indicatorNameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="indicatorType != null">
        #{indicatorType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.AnimalIndicator">
    update animal_indicator
    <set>
      <if test="indicatorName != null">
        indicator_name = #{indicatorName,jdbcType=VARCHAR},
      </if>
      <if test="indicatorNameEnglish != null">
        indicator_name_english = #{indicatorNameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="indicatorType != null">
        indicator_type = #{indicatorType,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.AnimalIndicator">
    update animal_indicator
    set indicator_name = #{indicatorName,jdbcType=VARCHAR},
      indicator_name_english = #{indicatorNameEnglish,jdbcType=VARCHAR},
      indicator_type = #{indicatorType,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>