<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.ExcelFileDetailMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.ExcelFileDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="file_record_id" jdbcType="INTEGER" property="fileRecordId" />
    <result column="indicator_id" jdbcType="INTEGER" property="indicatorId" />
    <result column="indicator_name" jdbcType="VARCHAR" property="indicatorName" />
    <result column="table_name" jdbcType="VARCHAR" property="tableName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, file_record_id, indicator_id, indicator_name, table_name, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from excel_file_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from excel_file_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByFileRecordId">
    delete from excel_file_detail
    where file_record_id = #{fileRecordId}
  </delete>

  <select id="selectNameByFileRecordId" resultType="String">
    select indicator_name from excel_file_detail
    where file_record_id = #{fileRecordId}
    order by id
  </select>

  <select id="selectByFileRecordId" resultType="ExcelFileDetail">
    select indicator_id, indicator_name from excel_file_detail
    where file_record_id = #{fileRecordId}
    order by id
  </select>

  <insert id="insertBatch" parameterType="List">
    insert into excel_file_detail
    (file_record_id, indicator_id, indicator_name, table_name)
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.fileRecordId}, #{item.indicatorId}, #{item.indicatorName}, #{item.tableName})
    </foreach>
  </insert>
  <insert id="insert" parameterType="com.kuo.artemis.server.entity.ExcelFileDetail">
    insert into excel_file_detail (id, file_record_id, indicator_id, 
      indicator_name, table_name, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{fileRecordId,jdbcType=INTEGER}, #{indicatorId,jdbcType=INTEGER}, 
      #{indicatorName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.ExcelFileDetail">
    insert into excel_file_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="fileRecordId != null">
        file_record_id,
      </if>
      <if test="indicatorId != null">
        indicator_id,
      </if>
      <if test="indicatorName != null">
        indicator_name,
      </if>
      <if test="tableName != null">
        table_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="fileRecordId != null">
        #{fileRecordId,jdbcType=INTEGER},
      </if>
      <if test="indicatorId != null">
        #{indicatorId,jdbcType=INTEGER},
      </if>
      <if test="indicatorName != null">
        #{indicatorName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.ExcelFileDetail">
    update excel_file_detail
    <set>
      <if test="fileRecordId != null">
        file_record_id = #{fileRecordId,jdbcType=INTEGER},
      </if>
      <if test="indicatorId != null">
        indicator_id = #{indicatorId,jdbcType=INTEGER},
      </if>
      <if test="indicatorName != null">
        indicator_name = #{indicatorName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null">
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.ExcelFileDetail">
    update excel_file_detail
    set file_record_id = #{fileRecordId,jdbcType=INTEGER},
      indicator_id = #{indicatorId,jdbcType=INTEGER},
      indicator_name = #{indicatorName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>