<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.PermissionMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.Permission">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="permission_name" jdbcType="VARCHAR" property="permissionName" />
    <result column="permission_name_english" jdbcType="VARCHAR" property="permissionNameEnglish" />
    <result column="permission_description" jdbcType="VARCHAR" property="permissionDescription" />
    <result column="permission_description_english" jdbcType="VARCHAR" property="permissionDescriptionEnglish" />
    <result column="permission_type" jdbcType="BIT" property="permissionType" />
    <result column="permission_action" jdbcType="BIT" property="permissionAction" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, permission_name, permission_name_english, permission_description, permission_description_english, 
    permission_type, permission_action, parent_id, create_time, modified_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from permission
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectPermissionList" resultMap="BaseResultMap">
    select
    id, permission_name, permission_name_english, permission_description, permission_description_english
    from permission
  </select>

  <select id="selectPermissionIdList" resultType="Integer">
    select id from permission
  </select>

  <select id="selectViewPermissionIdList" resultType="Integer">
    select id from permission where permission_description like '%数据查看%'
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from permission
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kuo.artemis.server.entity.Permission">
    insert into permission (id, permission_name, permission_name_english, 
      permission_description, permission_description_english, 
      permission_type, permission_action, parent_id, 
      create_time, modified_time)
    values (#{id,jdbcType=INTEGER}, #{permissionName,jdbcType=VARCHAR}, #{permissionNameEnglish,jdbcType=VARCHAR}, 
      #{permissionDescription,jdbcType=VARCHAR}, #{permissionDescriptionEnglish,jdbcType=VARCHAR}, 
      #{permissionType,jdbcType=BIT}, #{permissionAction,jdbcType=BIT}, #{parentId,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifiedTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.Permission">
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="permissionName != null">
        permission_name,
      </if>
      <if test="permissionNameEnglish != null">
        permission_name_english,
      </if>
      <if test="permissionDescription != null">
        permission_description,
      </if>
      <if test="permissionDescriptionEnglish != null">
        permission_description_english,
      </if>
      <if test="permissionType != null">
        permission_type,
      </if>
      <if test="permissionAction != null">
        permission_action,
      </if>
      <if test="parentId != null">
        parent_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="permissionName != null">
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionNameEnglish != null">
        #{permissionNameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null">
        #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescriptionEnglish != null">
        #{permissionDescriptionEnglish,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        #{permissionType,jdbcType=BIT},
      </if>
      <if test="permissionAction != null">
        #{permissionAction,jdbcType=BIT},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.Permission">
    update permission
    <set>
      <if test="permissionName != null">
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="permissionNameEnglish != null">
        permission_name_english = #{permissionNameEnglish,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescription != null">
        permission_description = #{permissionDescription,jdbcType=VARCHAR},
      </if>
      <if test="permissionDescriptionEnglish != null">
        permission_description_english = #{permissionDescriptionEnglish,jdbcType=VARCHAR},
      </if>
      <if test="permissionType != null">
        permission_type = #{permissionType,jdbcType=BIT},
      </if>
      <if test="permissionAction != null">
        permission_action = #{permissionAction,jdbcType=BIT},
      </if>
      <if test="parentId != null">
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.Permission">
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      permission_name_english = #{permissionNameEnglish,jdbcType=VARCHAR},
      permission_description = #{permissionDescription,jdbcType=VARCHAR},
      permission_description_english = #{permissionDescriptionEnglish,jdbcType=VARCHAR},
      permission_type = #{permissionType,jdbcType=BIT},
      permission_action = #{permissionAction,jdbcType=BIT},
      parent_id = #{parentId,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>