<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kuo.artemis.server.dao.StatisticsDetailItemMapper">
  <resultMap id="BaseResultMap" type="com.kuo.artemis.server.entity.StatisticsDetailItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="statistics_detail_record_id" jdbcType="INTEGER" property="statisticsDetailRecordId" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="item_mean" jdbcType="DECIMAL" property="itemMean" />
    <result column="item_stderr" jdbcType="DECIMAL" property="itemStderr" />
    <result column="factor_a" jdbcType="VARCHAR" property="factorA" />
    <result column="factor_b" jdbcType="VARCHAR" property="factorB" />
    <result column="modified_time" jdbcType="TIMESTAMP" property="modifiedTime" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, statistics_detail_record_id, item_code, item_mean, item_stderr, factor_a, factor_b,
    modified_time, create_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from statistics_detail_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from statistics_detail_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kuo.artemis.server.entity.StatisticsDetailItem">
    insert into statistics_detail_item (id, statistics_detail_record_id, item_code, 
      item_mean, item_stderr, factor_a,
      factor_b, modified_time, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{statisticsDetailRecordId,jdbcType=INTEGER}, #{itemCode,jdbcType=VARCHAR},
      #{itemMean,jdbcType=DECIMAL}, #{itemStderr,jdbcType=DECIMAL}, #{factorA,jdbcType=VARCHAR},
      #{factorB,jdbcType=VARCHAR}, #{modifiedTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>



  <select id="selectTreatmentCodes" resultType="String">
    select treatment from animal
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version}
    group by treatment
    order by treatment
  </select>

  <select id="selectFactorsByTreatmentCode" resultType="Animal">
    select treatment, factor_a, factor_b
    from animal
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version} and treatment = #{treatmentCode}
    group by treatment, factor_a, factor_b
  </select>

  <select id="selectFactorALevels" resultType="String">
    select factor_a from animal
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version}
    group by factor_a
  </select>

  <select id="selectFactorBLevels" resultType="String">
    select factor_b from animal
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version}
    group by factor_b
  </select>

  <select id="selectTreatmentData" resultType="java.lang.Double">
    select ${indicatorName} from animal_record_view
    where project_id = #{projectId} and file_identifier = #{fileIdentifier} and version = #{version} and treatment = #{treatmentCode}
  </select>




  <insert id="insertBatch" parameterType="com.kuo.artemis.server.entity.StatisticsDetailItem">
    <foreach collection="list" index="index" item="item" separator=";">
    insert into statistics_detail_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="item.id != null">
        id,
      </if>
      <if test="item.statisticsDetailRecordId != null">
        statistics_detail_record_id,
      </if>
      <if test="item.itemCode != null">
        item_code,
      </if>
      <if test="item.itemMean != null">
        item_mean,
      </if>
      <if test="item.itemStderr != null">
        item_stderr,
      </if>
      <if test="item.factorA != null">
        factor_a,
      </if>
      <if test="item.factorB != null">
        factor_b,
      </if>
      <if test="item.modifiedTime != null">
        modified_time,
      </if>
      <if test="item.createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="item.id != null">
        #{item.id,jdbcType=INTEGER},
      </if>
      <if test="item.statisticsDetailRecordId != null">
        #{item.statisticsDetailRecordId,jdbcType=INTEGER},
      </if>
      <if test="item.itemCode != null">
        #{item.itemCode,jdbcType=VARCHAR},
      </if>
      <if test="item.itemMean != null">
        #{item.itemMean,jdbcType=DECIMAL},
      </if>
      <if test="item.itemStderr != null">
        #{item.itemStderr,jdbcType=DECIMAL},
      </if>
      <if test="item.factorA != null">
        #{item.factorA,jdbcType=VARCHAR},
      </if>
      <if test="item.factorB != null">
        #{item.factorB,jdbcType=VARCHAR},
      </if>
      <if test="item.modifiedTime != null">
        #{item.modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="item.createTime != null">
        #{item.createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
    </foreach>
  </insert>


  <insert id="insertSelective" parameterType="com.kuo.artemis.server.entity.StatisticsDetailItem">
    insert into statistics_detail_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="statisticsDetailRecordId != null">
        statistics_detail_record_id,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="itemMean != null">
        item_mean,
      </if>
      <if test="itemStderr != null">
        item_stderr,
      </if>
      <if test="factorA != null">
        factor_a,
      </if>
      <if test="factorB != null">
        factor_b,
      </if>
      <if test="modifiedTime != null">
        modified_time,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="statisticsDetailRecordId != null">
        #{statisticsDetailRecordId,jdbcType=INTEGER},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemMean != null">
        #{itemMean,jdbcType=DECIMAL},
      </if>
      <if test="itemStderr != null">
        #{itemStderr,jdbcType=DECIMAL},
      </if>
      <if test="factorA != null">
        #{factorA,jdbcType=VARCHAR},
      </if>
      <if test="factorB != null">
        #{factorB,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kuo.artemis.server.entity.StatisticsDetailItem">
    update statistics_detail_item
    <set>
      <if test="statisticsDetailRecordId != null">
        statistics_detail_record_id = #{statisticsDetailRecordId,jdbcType=INTEGER},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="itemMean != null">
        item_mean = #{itemMean,jdbcType=DECIMAL},
      </if>
      <if test="itemStderr != null">
        item_stderr = #{itemStderr,jdbcType=DECIMAL},
      </if>
      <if test="factorA != null">
        factor_a = #{factorA,jdbcType=VARCHAR},
      </if>
      <if test="factorB != null">
        factor_b = #{factorB,jdbcType=VARCHAR},
      </if>
      <if test="modifiedTime != null">
        modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kuo.artemis.server.entity.StatisticsDetailItem">
    update statistics_detail_item
    set statistics_detail_record_id = #{statisticsDetailRecordId,jdbcType=INTEGER},
      item_code = #{itemCode,jdbcType=VARCHAR},
      item_mean = #{itemMean,jdbcType=DECIMAL},
      item_stderr = #{itemStderr,jdbcType=DECIMAL},
      factor_a = #{factorA,jdbcType=VARCHAR},
      factor_b = #{factorB,jdbcType=VARCHAR},
      modified_time = #{modifiedTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>